h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #eb4934;
  flex: auto;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 10px;
}

#tableItemName {
  margin-left: 100px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
