<div class = "banners column" *ngFor="let product of products">
  <div class="bg-dark text-center">
    <mat-card>

      <a [routerLink]="['/merch-details', product.merchId]">
        {{ product.merchName }}
      </a>
      <mat-card-header>
        <mat-card-title class="cardTitle">{{ product.merchName }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card-content>
      <img src = '{{ product.imgTag }}' />
      <p>{{ product.content }}</p>
    </mat-card-content>
  </div>
</div>
