.addButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.selectBoxBeerType {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h6 {
  text-align: center;
}

.textCenter {
  text-align: center;
}
