<div class="container">
  <div *ngIf="showMePartially">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="pad">
        <mat-label>Input</mat-label>
        <input
          id="beerName"
          type="text"
          placeholder="Beer Name"
          formControlName="beerName"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="pad">
        <mat-label>Input</mat-label>
        <input
          id="companyName"
          type="text"
          placeholder="Company Name"
          formControlName="companyName"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="pad">
        <mat-label>Input</mat-label>
        <input
          formControlName="ABV"
          for="ABV"
          placeholder="ABV %"
          type="number"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="pad">
        <mat-label>Input</mat-label>
        <input
          formControlName="rating"
          for="rating"
          placeholder="Rating"
          type="number"
          matInput
        />
        <div *ngIf="f.rating.errors">
          Rating must be a number from 0.0 to 10.0
        </div>
      </mat-form-field>

      <mat-form-field class="pad" appearance="fill">
        <mat-label>Select</mat-label>
        <p class="header">Beer Type:</p>
        <select formControlName="beerType" for="beerType">
          <option *ngFor="let beer of beerTypes" value="{{ beer.type }}">
            {{ beer.type }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field class="pad" appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea
          matInput
          id="content"
          type="text"
          formControlName="content"
          placeholder="What did you think?"
        ></textarea>
      </mat-form-field>
      <div class="buttonPadding">
        <button
          [disabled]="!CheckForm()"
          type="submit"
          mat-raised-button
          class="addButton"
        >
          Add Review
        </button>
      </div>
    </form>
  </div>
</div>
