.container {
  border: medium;
  margin-top: 20px;
  align-items: center;
}
.pad {
  display: block;
  padding-top: 10px;
  text-align: center;
}
.addButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttonPadding {
  padding-top: 10px;
}
