.example-card {
  max-width: 600px;
  margin: auto;
}

.example-header-image {
  background-image: url("../../assets/placeholder.png");
  background-size: cover;
}

.cardTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
