<p>Angular Practice Demo - Nick DeRoss / Ben Watto</p>

<footer class="bg-dark text-center text-lg-start">
  <div>
    <nav>
      //TODO: Home
      <a class="linkSeperator" routerLink="/homepage">Home</a>
      <a class="linkSeperator" routerLink="/review-page">Reviews</a>
      <a class="linkSeperator" routerLink="/merch-page">Merch</a>
    </nav>
  </div>

  <!-- Copyright -->
  <div
    class="text-center p-3 text-light"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2021 Copyright:
    <a class="text-light" href="">BeerReviewGuy.com</a>
  </div>
  <!-- Copyright -->
</footer>
